body{
    font-family: 'Open Sans', sans-serif;
}

html {
        scroll-behavior: smooth;
}

/* ---- Set up site grid ----*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header" 
    "main main main main" 
    "footer footer footer footer";
}

.header {
    grid-area: header;
    background-image: url("../Images/the-green-tent-home-v2.jpg"); /*Location of the image */
    background-position: center center; /*Background image is centered vertically and horizontally at all times */
    background-repeat: no-repeat; /*Background image doesn't tile */
    background-attachment: fixed; /*Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height*/
    background-size: cover; /*This is what makes the background image rescale based on the container's size */
    background-color: #464646;
    height: 500px;
}


main {
    grid-area: main;
    background-color: #fff; /* white */
}

footer {
    color: #fff; /* white */
    grid-area: footer;
    background-color: #5D6C43; /* dark green */
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copyright name social";
}


@media only screen and (max-width:550px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }


    footer {
        line-height: 0px;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "name"
        "social"
        "copyright";
    }


}

h1, h2, h3, a {
	font-family: 'Open Sans Condensed', sans-serif;
}
.copyright {
    grid-area: copyright;
    position: relative;    
}

.copyright small {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    padding-left: 5px;
}

.footer-name {
    grid-area: name;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 125px;
}


/* social media icons styling */
.fa {
    padding: 15px;
    font-size: 50px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white; 
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.social {
    grid-area: social;
    display: block;
    text-align: center;
}