body{
    font-family: 'Open Sans', sans-serif;
}

html {
        scroll-behavior: smooth;
}

/* ---- Set up site grid ----*/
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header" 
    "main main main main" 
    "footer footer footer footer";
}

header {
    color: #fff; /* white */
    grid-area: header;
    background-image: url("../Images/the-green-tent-home-v3.jpg"); /*Location of the image */
    background-position: center center; /*Background image is centered vertically and horizontally at all times */
    background-repeat: no-repeat; /*Background image doesn't tile */
    background-attachment: fixed; /*Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height*/
    background-size: cover; /*This is what makes the background image rescale based on the container's size */
    background-color: #464646; /* dark grey */
    height: 550px;
}

/* nav styling */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
}

.logo {
    font-size: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff; /* white */
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff; /* white */
    margin: 5px;
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
/* end of nav styling */


header .home-header-info {
    float: left;
    padding-left: 130px;
    position: absolute;
    bottom: 30px;
    font-size: 20px;
}

main {
    grid-area: main;
    background-color: #fff; /* white */
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

main h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.home-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "home-img-1 home-img-2"
    "home-img-3 home-img-4";
}

.home-gallery-img {
    width: auto;
    height: 250px;
    margin: 20px 20px 20px 20px;
}

#home-gallery-1 {
    grid-area: home-img-1;
}

#home-gallery-2 {
    grid-area: home-img-2;
}

#home-gallery-3 {
    grid-area: home-img-3;
}

#home-gallery-4 {
    grid-area: home-img-4;
}

footer {
    color: #fff; /* white */
    grid-area: footer;
    background-color: #5D6C43; /* dark green */
    line-height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "copyright name social";
}

@media only screen and (max-width:1024px){
    .nav-links {
        width: 60%;
    }
}

@media only screen and (max-width:768px){

    body {
        overflow-x: hidden;
    }

    /* nav styling mobile */
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9vh;
        background-color: #5D6C43; /* dark green */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translate(100%); /* moves nav off screen */
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    /* end of nav styling mobile */

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }


    footer {
        line-height: 0px;
        height: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "name"
        "social"
        "copyright";
    }


    .home-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "home-img-1"
        "home-img-2"
        "home-img-3"
        "home-img-4";
    }


}

h1, h2, h3, h4, a {
	font-family: 'Open Sans Condensed', sans-serif;
}
.copyright {
    grid-area: copyright;
    position: relative;    
}

.copyright small {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    padding-left: 5px;
}

.footer-name {
    grid-area: name;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 40px;
}


/* social media icons styling */
.fa {
    padding: 15px;
    font-size: 50px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: #fff; /* white */
}

.fa-twitter {
    background: #55ACEE;
    color: #fff; /* white */
}

.fa-instagram {
  background: #125688;
  color: #fff; /* white */
}

.social {
    grid-area: social;
    display: block;
    text-align: center;
}